PORT=5000
MONGO_URI=mongodb://localhost:27017/devcollab
JWT_SECRET=devcollab_super_secure_jwt_secret_key_2026_abhishek
CLIENT_URL=http://localhost:5173
NODE_ENV=development
CODE_EXECUTION_API_URL=https://emkc.org/api/v2/piston
CODE_EXECUTION_API_KEY=
